<hello name="{{ name }}"></hello>
<p>Start editing to see some magic happen :)</p>

<!-- <input
  type="text"
  id="search"
  [ngModel]="searchText"
  (ngModelChange)="searchKey($event)"
  placeholder="Find by name"
/> -->

<!-- <container class="row" *ngFor="let emp of employeeList">
  <b>{{ emp.name }}</b>
  <b>{{ emp.salary }}</b>
</container> -->

<div class="container">
  <input
    type="text"
    class="form-control"
    placeholder="search"
    [(ngModel)]="enterSerachValue"
    
  />
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of data | search : enterSerachValue">
        <td>{{ e.id }}</td>
        <td>{{ e.name }}</td>
      </tr>
    </tbody>
  </table>
</div>
